/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET END */

/* WIDTH SHOWER */
.size-display{
	z-index:998;
	position: fixed;
	top: 0;
	left: 0;
	width: 10%;
	height: 25px;
	background-color: white;
  }
  
  .size-display > p{
	width: 100%;
	height: 100%;
  }
  
  @media( max-width: 1300px){
	.size-display:before {
	  content: "1300";
	}
  }
  
  @media( max-width: 800px){
	.size-display:before {
	  content: "800";
	}
  }
  
  @media( max-width: 650px){
	.size-display:before {
	  content: "650";
	}
  }
  
  @media( max-width: 480px){
	.size-display:before {
	  content: "480";
	}
  }
  
  @media( max-width: 300px){
	.size-display:before {
	  content: "300";
	}
  }
/* WIDTH SHOWER END*/

/* NAV BAR */
.nav-bar {
	top: 0;
	position: sticky;
	height: 50px;
}

.left-nav {
	float: left;
	height: 100%;
}

.left-nav ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 100%;
}

.left-li{
	list-style: none;
	margin: auto 15px;
}

.left-nav ul li a{
	color: #aaa;
	text-decoration: none;
}

.left-nav ul li a:hover{
	color: black;
}

.img-li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	height: 100%;
	width: 108px;
	background: linear-gradient(to bottom right,#c09,#f42 85%);
}

.img-li a{
	width: 100%;
	text-align: center;
}

.img-li a img{
	height: 20px;
	width: 66px;
}

.right-nav {
	float: right;
	height: 100%;
}

.right-nav ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 100%;
}

.right-li{
	border-left: 1px solid #eee;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 0 15px;
}

.right-nav ul li a{
	color: #aaa;
	font-size: 1.5rem;
	text-decoration: none;
}

.bottom-yellow {
	clear: both;
	background: #fd3;
}

.bottom-yellow div{
	padding-left: 120px;
	clear: both;
	background: #fd3;
	font-size: 13px;
	box-shadow: 0 16px 48px rgba(0,0,0,.15);
	line-height: 30px;
	color: #000;
	text-decoration: none;
	margin: 0 auto;
}

/* MEDIA SETUP NAV BAR */

@media(max-width: 670px) {
	.left-li {
		display: none;
	}
}

@media(min-width: 658px) {
	.bottom-yellow div {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		text-align: center;
		padding-left: 0;
	}
}

@media(max-width: 480px) {
	.bottom-yellow div {
		font-size: 11px;
		padding-left: 0;
		text-align: center;
	}
}

@media(max-width: 319px) {
	.bottom-yellow div {
		font-size: 10px;
		padding-left: 0;
		text-align: center;
	}
}
/* NAV BAR END */

main {
	margin-top: 30px;
}
/* COVER */

.cover-story {
	display: grid;
	height: 60.481770833vh;
	grid-template-columns: repeat(3,1fr);
	grid-row: 1fr 1fr;
}

.article-1 {
	grid-column: 1/3;
	grid-row: 1/3;
	padding: 4px;
}

.article-2 {
	grid-column: 3;
	grid-row: 1;
	padding:4px;
}

.article-3 {
	grid-column: 3;
	grid-row: 2;
	padding: 4px;
}

.article-container{
	background: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/06/Mate-X-796x418.jpg");
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	text-decoration: none;
	height: 100%;
}

.article-content {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	will-change: background-color;
	transition: background-color .4s ease;
	background: rgba(0,0,0,.25) url("./resources/image-gradient.png") no-repeat;
	background-size: 100% 100%;
}

.article-text {
	color: #ffff;
	padding: 14px 20px;
}

.article-text > h2 {
	margin-bottom: .25em;
}

.article-text > span {
	color: hsla(0,0%,100%,.6);
}

.article-link {
	text-decoration: none;
}

.article-link:hover {
	color: #ffff;
}

.article-text-big > h2{
	font-size: 56px;
	line-height: 1;
	margin-bottom: .25em;
	font-family: Avalon,sans-serif;
	letter-spacing: -.015em;
}

@media(max-width: 946px) {
	.cover-story {
		height: 567px;
		grid-template-columns: 100vw;
		grid-row: 1fr 1fr 1fr;
	}

	.article-1 {
		grid-column: 1;
		grid-row: 1;
	}

	.article-2 {
		grid-column: 1;
		grid-row: 2;
	}
	
	.article-3 {
		grid-column: 1;
		grid-row: 3;
	}

	.article-text > h2 {
		font-size: 20px;
	}
}


/* COVER END */